
body {
  background-color: #9B59B6;
  width: fit-content;
}

table {
  margin: 20px;
  background-color: #ff4561;
  width: 95px;

  height: 325px;
  text-align: center;
  border-radius: 4px;
  padding-right: 10px;
  border-color: #ff4561;
}

input {
  outline: 0;
  border: 0;
  color: #495069;
  background-color: #fff;
  border-radius: 4px;
  width: 60px;
  height: 50px;
  float: left;
  margin: 5px;
  font-size: 20px;
  box-shadow: 0 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 15px;
}

input:hover {
  background-color: #fff;
  box-shadow: 0 4px #b0d2cf;
}

input:active {
  top: 4px;
  box-shadow: none;
}

#neelam {
  width: 265px;
  font-size: 50px;
  text-align: right;
  background-color: #bcbd95;
}

#neelam:hover {
  width: 270px;
  font-size: 26px;
  background-color: #bcbd95;
  box-shadow: 0 4px rgba(0, 0, 0, 0.2);
}

#neelam:active {
  top: 5px;
  width: 270px;
  font-size: 26px;
  background-color: #bcbd95;
  box-shadow: 0 4px rgba(0, 0, 0, 0.2);
}

.operator {
  background-color: #cee9ea;
}

.operator:hover {
  background-color: #cee9ea;
  box-shadow: none;
}

#clear {
  background-color: #ff9fa8;
}

#clear:hover {
  background-color: #f297A0;
  box-shadow: 0 4px #cc7f86;
}

#clear:active {
  top: 4px;
  background-color: #f297A0;
  box-shadow: none;
}

h3 {
  text-align: center;
  color: white;
  font-size: 109%;
}
